@media screen and (max-width: 767px) {

    .contentTitle h1 {
        font-size: 15px;
        text-align: center;
    }
    
    .contentDescription {
        margin-top: 10px;
        max-width: 100%;
        margin-bottom: 15px;
    }
    
    .contentDescription p {
        color: rgb(83, 83, 83);
        white-space: pre-line;
        text-align: left;
        font-size: 10px;
    }

    .contentCover img {
        width: 300px;
        min-width: 300px;
        border-radius: 5px;
        border: 2px solid gray;
    }

}