
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


<div class="container-menu-bar">
    <ul class="socialIcons">
        <li class="linkedin"><a href="https://www.linkedin.com/in/matheus-dev14/" target="_blank"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a></li>
       
        <li class="github"><a href="https://github.com/mathferreira14" target="_blank"><i class="fa fa-fw fa-github"></i>Github</a></li>

        <li class="instagram"><a href="https://www.instagram.com/siegmatt03/" target="_blank"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
    </ul>
</div>
